@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Signika+Negative:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Signika Negative', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */

body {
    background: url(../images/green-bee-like-Darker.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    color: #ff6666;
}

/* header */

#logo {
    color: rgb(0, 255, 170);
    float: left;
    font-size: 400%;
    margin-top: 30px;
    margin-left: 30px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 8px;
}

#menu li {
    float: right;
    margin-right: 25px;
    margin-top: 20px;
    list-style-type: none;
    font-size: 170%;
}

#menu a {
    color: rgb(0, 255, 170);
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 3px solid #ff6666;
    color: aqua;
}

#logo, #menu li {
    line-height: 80px;
    margin-bottom: 150px;
}

.active {
    border-bottom: 3px solid #ff6666;
}

/* Section's feel-free part*/

#feel-free-left-div {
    clear: both;
    width: 50%;
    text-align: center;
    float: left;
}

#feel-free-left-div h2 {
    color: rgb(0, 255, 170);
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 420%;
    letter-spacing: 6px;
}

span {
    color: #ff6666;
}

#feel-free-left-div p {
    font-size: 270%;
    width: 77%;
    margin: 0 auto;
}

#variety {
    color: rgb(0, 255, 170);
}

#feel-free-right-div img {
    width: 50%;
    float: right;
    border-radius: 110px 0 110px 110px;
}

/* Section's save-money part */

#save-money-container-div {
    color: #ff6666;
    clear: both;
}

#save-money-right-div {
    float: right;
    width: 50%;
    text-align: center;
}

#save-money-right-div h2 {
    color: rgb(0, 255, 170);
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 420%;
    letter-spacing: 6px;
}

#save-money-right-div p {
    font-size: 270%;
    width: 77%;
    margin: 0 auto;
}

#multiple {
    color: rgb(0, 255, 170);
}

#save-money-left-div img {
    float: left;
    width: 50%;
    border-radius: 0 110px 110px 110px;
}

/* Section's play-directly part */

#play-directly-container-div {
    clear: both;
}

#play-directly-left-div img {
    float: left;
    width: 33%;
    height: 500px;
    border-radius: 0 310px 300px 0px;
}

#play-directly-right-div img {
    float: right;
    width: 33%;
    height: 500px;
    border-radius: 310px 0 0 310px;
}

#play-directly-center-div {
    margin: 0 auto;
    width: 33%;
    text-align: center;
    height: 500px;
}

#play-directly-center-div h2 {
    color: rgb(0, 255, 170);
    font-size: 420%;
    margin-bottom: 60px;
    letter-spacing: 6px;
}

#play-directly-center-div p {
    font-size: 270%;
    padding: 0 50px;
}

#cloud {
    color: rgb(0, 255, 170);
}

/* hr */

hr {
    width: 100%;
    border: 0px;
}

#first-hr {
    height: 200px;
}

#second-hr {
    height: 240px;
}

/* Footer */

footer {
    clear: both;
    height: 300px;
    line-height: 300px;
}

#social-networks {
    text-align: center;
}

#social-networks li {
    display: inline;
}

#social-networks i {
    font-size: 200%;
    color: rgb(0, 255, 170);
    margin-right: 200px;
    margin-left: 200px;
}