@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Signika+Negative:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Signika Negative', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */

body {
    background: url(../images/green-bee-like-Darker.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    color: #ff6666;
}

/* header */

#logo {
    color: rgb(0, 255, 170);
    float: left;
    font-size: 400%;
    margin-top: 30px;
    margin-left: 30px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 8px;
}