@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Signika+Negative:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Signika Negative', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */

body {
    background: url(../images/green-bee-like-Darker.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    color: #ff6666;
}

/* header */

#logo {
    color: rgb(0, 255, 170);
    float: left;
    font-size: 400%;
    margin-top: 30px;
    margin-left: 30px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 8px;
}

#menu li {
    float: right;
    margin-right: 25px;
    margin-top: 20px;
    list-style-type: none;
    font-size: 170%;
}

#menu a {
    color: rgb(0, 255, 170);
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 3px solid #ff6666;
    color: aqua;
}

#logo, #menu li {
    line-height: 80px;
    margin-bottom: 150px;
}

.active {
    border-bottom: 3px solid #ff6666;
}

/* Section's feel-free part*/

#feel-free-left-div {
    clear: both;
    width: 50%;
    text-align: center;
    float: left;
}

#feel-free-left-div h2 {
    color: rgb(0, 255, 170);
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 420%;
    letter-spacing: 6px;
}

span {
    color: #ff6666;
}

#feel-free-left-div p {
    font-size: 270%;
    width: 77%;
    margin: 0 auto;
}

#variety {
    color: rgb(0, 255, 170);
}

#feel-free-right-div img {
    width: 50%;
    float: right;
    border-radius: 110px 0 110px 110px;
}